<div class="hero">
  <div class="title">
    <div class="_l">CORONA</div>
    <div class="_r">
      <span>COVID-19</span>
      <span>VIRUS</span>
    </div>
  </div>

  <div class="content">
    <p>
      The Coronavirus (COVID-19) was first reported in Wuhan, Hubei, China in December 2019, the outbreak was later
      recognized as a pandemic by the World Health Organization (WHO) on 11 March 2020.
    </p>
  </div>

  <div class="actions">
    <button routerLink="/" class="primary-btn">Popular</button>
    <button routerLink="/favorites" class="secondary-btn">Favorites</button>
  </div>
</div>